.player-win-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.player-win-logo-container{
    height: 200px;
    margin: 30px 0 25px 0;

}
.player-win-logo-container img{
    height: 100%;

}





