* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins',
        sans-serif;


}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.img-container img {
    position: relative;
    width: 100px;
    left: 100px;
    margin-left: -70px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.new-game-button-conatiner {
    margin: 20px 0 0;
}

button {
    cursor: pointer;
    margin: 10px;
}

.buttons-start-container {

    display: flex;
    justify-content: center;
    align-items: center;

}

.play-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.points-player-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: row;
    margin: 30px auto 35px auto;

}


.app-container {
    margin: 0;
    padding: 0;
    padding: 30px;
}
.app-container h5{
    text-align: center;
}

.points-player-container-text {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.points-sistem-container-text {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(min-width:768px) {

    .play-buttons-container {

        flex-direction: row;

    }

}